fastapi
uvicorn
librosa
numpy
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.8.0+cpu
asyncio
resemblyzer>=0.1.4
silero-vad>=6.0.0
torchaudio==2.8.0+cpu # Anything above 2.9.0 breaks silero-vad
